<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

<link href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap"
	rel="stylesheet">

<link rel="stylesheet" th:href="@{/css/header.css}">
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Footer</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

</head>
<body>


	<!-- Footer -->
	<footer class="page-footer font-small blue pt-4">
		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">
			© 2026 Copyright: <a href="https://www.knowledgefactory.net/">
				Hệ thống quản lý thư viện</a>
		</div>
		<!-- Copyright -->

	</footer>
	<!-- Footer -->
</body>
</html>